body{
    height: 100vh;
    background-color: #101828;
    margin: 0;

    display: flex;
    flex-direction: column;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    color: white;
    font-weight: bold;
}


.header-container,
.footer-container{
    height: 10%;
    min-height: 80px;

    background-color: #262152;
}

/*HEADER*/

.header-container{
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.5);
}

.title{
    color: white;
    font-weight: bold;
    font-size: 60px;
}

/*BODY*/

.body-container{
    flex: 1;

    display: flex;
}


.grid-container{
    flex: auto;
    flex-direction: column;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.grid{
    flex-grow: 0;

    background-color: rgb(255, 255, 255);
    height: 80%;
    width: 60%;

    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-wrap: wrap;
}

.grid-unit {
    background-color: rgba(255, 255, 255);
    border: 1px solid black;
    box-sizing: border-box;

    width: var(--unit-width);
    height: var(--unit-height);
    
    margin: 0;
}

.grid-settings-container{
    min-width: 25%;
    flex: 0 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

    border-left: 3px solid black;
}

.grid-settings-container > div{
    height: 50%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.resize-button.button{
    width: 20%;
    height: 6%;

    margin: 0;
}

.button{
    border: 3px solid #1a1a1a;
    background-image: linear-gradient(#325994, #86a4d1, #294979, rgb(22, 21, 41));
    
    border-radius: 15px;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
    
    width: 70%;
    height: 30%;
    
    position: relative;
    overflow: hidden;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    cursor: grab;
    user-select: none;

    text-align: center;
}

.button:active{
    transform: scale(0.95);
}

.button::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.2s ease;
}

.button:hover::after {
    background-color: rgba(255, 255, 255, 0.123);
}

.resize-button{
    background-image: linear-gradient(to right, rgb(50, 52, 148), rgb(54, 71, 163), rgba(77, 67, 206, 0.795), rgb(47, 45, 83));
}

.solid-mode-button{
    background-image: linear-gradient(to right, rgba(50, 89, 148, 1), rgb(43, 76, 126), rgb(44, 41, 85), rgb(47, 45, 83));
}

.transparent-mode-button{
    background-image: linear-gradient(to right, rgba(50, 89, 148, 0.377), rgba(50, 89, 148, 0.4), rgba(97, 97, 190, 0.2), rgba(200, 200, 204, 0.1));
}

.rgb-color-button{
    background-image: linear-gradient(to left, #ff0000, #ffa500, #ffff00, #008000, #0000ff, #4b0082, #ee82ee);
}

.black-color-button{
    background-image: linear-gradient(to right, #000000, #3d3d3d, #7e7e7e);
}

/*FOOTER*/

.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0px -3px 10px 2px rgba(0, 0, 0, 0.5);
}

.credits-container{
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 100%;
    min-width: 20%;
}

img{
    width: 14%;
}
